/* Global styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* Header styles */
.header {
  background-color: #0d465ce3;
  color: white;
  padding: 10px;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 32px;
}

.header-subtitle {
  margin: 5px 0 0;
  font-size: 14px;
}

/* Footer styles */
.footer {
  background-color: #0d465ce3;
  color: #ffffff;
  text-align: center;
  padding: 4px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
/* Home Page Layout */
.home-container {
  display: flex;
  height: calc(100vh - 140px); /* header + footer space */
  padding: 40px;
  box-sizing: border-box;
}

/* Left section */
.home-left {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.uni-logo {
  width: 400px;
  margin-bottom: 10px;
}

.home-left h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  color: #555;
}

/* Right section */
.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Card */
.login-card {
  background-color: #0d465cd5;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
}

.login-card h3 {
  color: white;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #7ed957;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.forgot {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

